<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hanglewatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7237356E1E1B66FB00F8AEE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>723735821E1B66FC00F8AEE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7237358D1E1B66FC00F8AEE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
